body {
    background-color: pink;
}

h1  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mac {
    color: orange;
}

#rice {
    color: yellow;
}

#cauliflower {
    color: green;
}